[package]
name = "puffin_viewer"
version = "0.10.1"
authors = ["Embark <opensource@embark-studios.com>"]
description = "Viewer GUI for puffin profiler data"
license = "MIT OR Apache-2.0"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "README.md"
categories = ["development-tools::profiling", "gui"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = ["**/*.rs", "Cargo.toml", "README.md"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
puffin_egui = { version = "0.13.0", path = "../puffin_egui" }
puffin = { version = "0.13.0", path = "../puffin", features = [
    "packing",
    "serialization",
] }
puffin_http = { version = "0.9.0", path = "../puffin_http" }

argh = "0.1"
eframe = { version = "0.16.0", default-features = false, features = [
    "egui_glow",
    "persistence",
] }
log = "0.4"
rfd = "0.7.0"
simple_logger = "2.1"
