[package]
name = "puffin_viewer"
version = "0.8.0"
authors = ["Embark <opensource@embark-studios.com>"]
description = "Viewer GUI for puffin profiler data"
license = "MIT OR Apache-2.0"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "README.md"
categories = ["development-tools::profiling", "gui"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = [ "**/*.rs", "Cargo.toml"]

[dependencies]
puffin_egui = { version = "0.10.0", path = "../puffin_egui" }
puffin = { version = "0.10.0", path = "../puffin", features = ["serialization"] }
puffin_http = { version = "0.7.0", path = "../puffin_http" }

argh = "0.1"
eframe = { version = "0.15.0", default-features = false, features = ["egui_glow", "persistence"] }
log = "0.4"
rfd = "0.5.0"
simple_logger = "1.11"
