[package]
name = "puffin_http"
version = "0.11.1"
authors = ["Embark <opensource@embark-studios.com>"]
description = "TCP server/client for puffin profiler data"
license = "MIT OR Apache-2.0"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "README.md"
categories = ["development-tools::profiling", "gui"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = ["**/*.rs", "Cargo.toml", "README.md"]

[dependencies]
anyhow = "1.0"
crossbeam-channel = "0.5"
log = "0.4"
puffin = { version = "0.14.2", path = "../puffin", features = [
    "packing",
    "serialization",
] }

[dev-dependencies]
simple_logger = "2.1"
