[package]
name = "puffin"
version = "0.7.0"
authors = ["Embark <opensource@embark-studios.com>"]
license = "MIT OR Apache-2.0"
description = "Simple instrumentation profiler for games"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "../README.md"
categories = ["development-tools::profiling"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = [ "**/*.rs", "Cargo.toml"]

[dependencies]
byteorder = { version = "1" }
once_cell = "1"
anyhow = { version = "1", optional = true }
bincode = { version = "1.3", optional = true }
lz4_flex = { version = "0.8.2", optional = true }
serde = { version = "1", features = ["derive", "rc"], optional = true }

[dev-dependencies]
criterion = "0.3"

[features]
default = []
# Feature for enabling loading/saving data to a binary stream and/or file.
serialization = ["anyhow", "bincode", "lz4_flex", "serde"]

[[bench]]
name = "benchmark"
harness = false
