[package]
name = "puffin"
version = "0.12.1"
authors = ["Embark <opensource@embark-studios.com>"]
license = "MIT OR Apache-2.0"
description = "Simple instrumentation profiler for games"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "README.md"
categories = ["development-tools::profiling"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = ["**/*.rs", "Cargo.toml"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
byteorder = { version = "1.0" }
once_cell = "1.0"

# Optional:
anyhow = { version = "1.0", optional = true }
bincode = { version = "1.3", optional = true }
parking_lot = { version = "0.12", optional = true }
serde = { version = "1.0", features = ["derive", "rc"], optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
zstd = { version = "0.10.0", optional = true } # native only

[target.'cfg(target_arch = "wasm32")'.dependencies]
ruzstd = { version = "0.2.4", optional = true } # works on wasm

[dev-dependencies]
criterion = "0.3"

[features]
default = []
packing = ["anyhow", "bincode", "parking_lot", "serde", "zstd", "ruzstd"]
# Feature for enabling loading/saving data to a binary stream and/or file.
serialization = ["packing"]

[[bench]]
name = "benchmark"
harness = false
