[package]
name = "puffin"
version = "0.11.0"
authors = ["Embark <opensource@embark-studios.com>"]
license = "MIT OR Apache-2.0"
description = "Simple instrumentation profiler for games"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
readme = "../README.md"
categories = ["development-tools::profiling"]
keywords = ["profiler", "instrumentation", "gamedev"]
include = [ "**/*.rs", "Cargo.toml"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
byteorder = { version = "1" }
once_cell = "1"
parking_lot = "0.11"

# Optional:
anyhow = { version = "1", optional = true }
bincode = { version = "1.3", optional = true }
serde = { version = "1", features = ["derive", "rc"], optional = true }
zstd = { version = "0.9", optional = true }

[dev-dependencies]
criterion = "0.3"

[features]
default = []
packing = ["anyhow", "bincode", "serde", "zstd"]
# Feature for enabling loading/saving data to a binary stream and/or file.
serialization = []

[[bench]]
name = "benchmark"
harness = false
