[package]
name = "puffin_egui"
version = "0.13.1"
authors = ["Emil Ernerfeldt <emil.ernerfeldt@gmail.com>"]
description = "Show puffin profiler flamegraph in-game using egui"
edition = "2018"
homepage = "https://github.com/EmbarkStudios/puffin"
repository = "https://github.com/EmbarkStudios/puffin"
license = "MIT OR Apache-2.0"
readme = "README.md"
categories = ["development-tools::profiling", "game-development", "gui"]
keywords = ["profiler", "gamedev", "gui"]
include = [
  "../LICENSE-APACHE",
  "../LICENSE-MIT",
  "**/*.rs",
  "Cargo.toml",
  "README.md",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
egui = "0.16.0"
natord = "1.0.9"
once_cell = "1.7"
puffin = { version = "0.13.1", path = "../puffin", features = ["packing"] }
serde = { version = "1.0", features = ["derive"], optional = true }
vec1 = "1.8"

[dev-dependencies]
eframe = { version = "0.16.0", default-features = false, features = [
  "egui_glow",
] }
# egui-macroquad = "0.7.0" # disabled until it is updated to egui 0.16
# macroquad = "0.3" # disabled until it is updated to egui 0.16
