[package]
name = "puffin_egui"
version = "0.7.0"
authors = ["Emil Ernerfeldt <emil.ernerfeldt@gmail.com>"]
description = "Show puffin profiler flamegraph in-game using egui"
edition = "2018"
homepage = "https://github.com/emilk/puffin_egui"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/emilk/puffin_egui"
categories = [
    "development-tools::profiling",
    "game-development",
    "gui",
]
keywords = ["profiler", "gamedev", "gui"]
include = [
  "../LICENSE-APACHE",
  "../LICENSE-MIT",
  "**/*.rs",
  "Cargo.toml",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
egui = "0.14"
natord = "1.0.9"
once_cell = "1.7"
puffin = { version = "0.8.0", path = "../puffin" }
serde = { version = "1", features = ["derive"], optional = true }

[dev-dependencies]
eframe = "0.14"
egui-macroquad = "0.6.0"
macroquad = "0.3"
