# Replace this line with the commented one to actually run the action in your repo(s)
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

name: CI
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get -yq --no-install-suggests --no-install-recommends install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libasound2-dev libxkbcommon-dev # egui_glium dependencies
          sudo apt-get install libgtk-3-dev # rfd dependencies

      # make sure all code has been formatted with rustfmt
      - run: rustup component add rustfmt
      - name: rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check --color always

      - run: rustup component add clippy
      - name: cargo fetch
        uses: actions-rs/cargo@v1
        with:
          command: fetch
      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --lib --tests -- -D warnings
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-targets
      - name: cargo check wasm32
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: -p puffin_egui --lib --target wasm32-unknown-unknown --all-features

  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: cargo fetch
        uses: actions-rs/cargo@v1
        with:
          command: fetch
      - name: Install packages (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get -yq --no-install-suggests --no-install-recommends install libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libasound2-dev libxkbcommon-dev # egui_glium dependencies
          sudo apt-get install libgtk-3-dev # rfd dependencies
      - name: cargo test build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests --release
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p puffin -p puffin_egui -p puffin_http -p puffin-imgui -p --all-features
      - name: cargo test --doc
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --doc
      - name: cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: -p puffin -p puffin_egui -p puffin_http -p puffin-imgui -p --lib --no-deps --all-features
